.app-container {
  display: grid;
  grid-template-rows: 10% 35% 55%;
  height: 100vh;
}

.document-upload, .document-list {
  margin: 1rem;
}

.header {
  grid-row: 1;
  height: max-content;
  border-bottom: 1px solid #ebedf0;
}

.document-upload {
  grid-row: 2;
}

.document-list {
  grid-row: 3;
}

.document-list {
  background: #f8f8f9;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem;
}
