<div class="document-upload-grid-container">
  <div class="drop-area">
    <h2>Upload Document</h2>

    <div class="cursor-pointer"
          ng2FileDrop
          [uploader]="uploader"
          (fileOver)="fileOverBase($event)"
          [class.drop-zone-over]="hasBaseDropZoneOver">
      <p class="file-upload-text">
        <i class="fas fa-arrow-up-from-bracket"></i>
        Drag & drop a file here or
        <a href="#" (click)="$event.preventDefault(); fileInput.click()">browse</a>
      </p>
      <input #fileInput
            type="file"
            ng2FileSelect
            [uploader]="uploader"
            class="d-none"
            id="fileInput">
    </div>

  <div class="file-upload-text upload-filename">
    @if (uploadMessage) {
      <div class="mt-3">
        <p>{{ uploadMessage }}</p>
      </div>
    }
    @if (uploader.queue.length > 0) {
      <p class="selected-file">
        Selected file: {{ uploader.queue[0].file.name }}
      </p>
    }
  </div>

    <button type="button"
            class="btn classify-btn"
            (click)="uploadAll()"
            [disabled]="!uploader.getNotUploadedItems().length">
      {{ uploader.isUploading ? 'Classifying...' : 'Classify' }}
    </button>
  </div>

  <div class="results-section" *ngIf="classificationResults">
    <div class="results">
      <h2>Results</h2>
      <div class="results-stats">
        <div class="key-results">
          <div class="result-item">
            <span class="label">Filename</span>
            <span class="value">{{ classificationResults.fileName }}</span>
          </div>
          <div class="result-item">
            <span class="label">Top Category</span>
            <span class="value">{{ classificationResults.predictions[0].category }}</span>
          </div>
          <div class="result-item">
            <span class="label">Confidence Score</span>
            <span class="value" [ngClass]="{
              'confidence-high': classificationResults.predictions[0].confidence >= 0.7,
              'confidence-medium': classificationResults.predictions[0].confidence >= 0.4 && classificationResults.predictions[0].confidence < 0.7,
              'confidence-low': classificationResults.predictions[0].confidence < 0.4
            }">{{ classificationResults.predictions[0].confidence | percent:'1.0-2' }}</span>
          </div>
        </div>
        <div class="other-results">
          <p class="label">Category Scores</p>
          <div class="predictions-grid">
            <li *ngFor="let prediction of classificationResults.predictions">
              {{ prediction.category }}
              <span>
                {{ prediction.confidence | percent:'1.0-2' }}
              </span>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
