<h2>Previous Uploads</h2>

  <div class="table-responsive">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th *ngFor="let header of tableHeaders"
              scope="col"
              [class]="header.class">
            {{header.label}}
          </th>
        </tr>
      </thead>
      <tbody>
        @if (loading) {
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
        } @else if (data.length) {
          @for (item of data; track item.filename) {
            <tr>
              <td class="col-md-4">{{ item.filename }}</td>
              <td class="col-md-3">{{ item.category }}</td>
              <td class="col-md-3" [ngClass]="{
                'confidence-high': item.confidence >= 0.7,
                'confidence-medium': item.confidence >= 0.4 && item.confidence < 0.7,
                'confidence-low': item.confidence < 0.4
              }">{{ item.confidence | percent:'1.0-2' }}</td>
              <td class="col-md-2">{{ item.upload_time }}</td>
            </tr>
          }
        } @else {
          <tr>
            <td>
              No classification results
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
